.homeLoading {
    text-align: center;
}
.App {
    text-align: center;
    background-image: url(../images/larm-rmah-151478-unsplash.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}