.characterCard {
    height: 300px;
    width: 230px;
    border: 1px solid grey;
    margin: 5px;
}
.cardImg {
    height: 200px;
    width: 130px;
}
.cardName {
    font-size: 18px;
}
.cardHouse {
    font-size: 14px;
}