.characterCard {
    height: 330px;
    width: 190px;
    border: 1px solid grey;
    margin: 15px;
}
.cardImg {
    height: 230px;
    width: 160px;
    margin-top: 15px;
}
.cardName {
    font-size: 18px;
}
.cardHouse {
    font-size: 14px;
}