.detailSection {
    height: 100vh;
    display: flex;
    justify-content: center;

    background-image: url(../images/larm-rmah-151478-unsplash.jpg);
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
}
.detailArticle {
    align-self: center;
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    color: white;
    border: 1px white solid;
    border-radius: 15px;

}
.detailImg {
    display: block;
    height: 280px;
    width: 230px;
}