.detailSection {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.detailArticle {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    color: white;
    border: 1px white solid;
    border-radius: 15px;
    background-color: rgba(247, 241, 241, 0.5);
    color: black;
    @media all and (min-width:768px) {
        flex-direction: row;
    }
}
.detailImg {
    display: block;
    height: 280px;
    width: 230px;
    opacity: 1;
}
.detailText {
    padding: 15px;
}
