.detailArticle {
    display: flex;
    margin: auto;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}
.detailImg {
    display: block;
    height: 280px;
    width: 230px;
}